* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #131316;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  height: 300vh;
}
section {
  display: grid;
  place-items: center;
  align-content: center;
  height: 100vh;
}
.hidden {
  opacity: 0;

  transition: 6s;
}

.show {
  opacity: 1;
}
